@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

:root{
  --primary: #FF6F61;
  --secondary: #F4F4F4;
  --black: #202020;
  --light-black: #353535;
  --button-padding: 10px 30px 10px 30px;
  --link-text: 18px;
}

/* #hasis(hasisHeader) #css starts  */
.hasisHeader .logo {
    max-height: 80px
}
.hasisHeader .navbar-open-icon {
    display: inline
}
.hasisHeader .navbar-close-icon {
    display: none
}
.hasisHeader .navbar-toggler[aria-expanded="true"] .navbar-open-icon {
    display: none
}
.hasisHeader .navbar-toggler[aria-expanded="true"] .navbar-close-icon {
    display: inline
}
.hasisHeader .navbar-light .navbar-toggler {
    color: var(--black);
    border-color: var(--black);
    font-size: 25px;
}
.hasisHeader .btn {
    background-color: var(--primary);
    color: var(--black);
    border: none;
    font-weight: bold;
    box-shadow: none;
    font-size: var(--link-text);
    padding: var(--button-padding);
}
.hasisHeader .btn:hover {
    color: var(--black);
    text-decoration: none;
}
.hasisHeader .navbar-light .navbar-nav .nav-link {
    color: var(--light-black);
    font-weight: 600;
    font-size: var(--link-text);
}
.hasisHeader .navbar-light .navbar-nav .nav-link:hover{
  color: var(--primary);
}
/* #hasis(hasisHeader) #css ends  */

/* #absorve(absorveAbout) #css starts  */
.absorveAbout .height {
    height: 100vh;
    background-image: url(../img/others/ai.jpg);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}
.absorveAbout .maindiv {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(39, 38, 38, 0.5)
}

.absorveAbout .btn1 {
    border-radius: 30px;
    background-color: var(--light-black);
    box-shadow: none;
}

.absorveAbout .btn2 {
    border-radius: 30px;
    border: 1px solid var(--secondary);
    box-shadow: none;
}

.absorveAbout h1 {
  font-size: 80px; /* Large screens */
  font-weight: bold;
  line-height: 1.2;
  margin: 20px 0;
  color: var(--secondary);
}

.absorveAbout #outlined:hover {
  background-color: var(--secondary);
  color: #353535 !important;
}

/* Medium screens (tablets) */
@media (max-width: 992px) {
    .absorveAbout h1 {
    font-size: 40px; /* Adjust font size for tablets */
    line-height: 1.3;
  }
}

/* Small screens (phones) */
@media (max-width: 768px) {
    .absorveAbout h1 {
    font-size: 32px; /* Adjust font size for smaller screens */
    line-height: 1.4;
  }
}

/* Extra small screens (smaller phones) */
@media (max-width: 576px) {
    .absorveAbout h1 {
    font-size: 28px; /* Further reduce font size */
    line-height: 1.5;
    margin: 15px 0;
  }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); /* Stay in place */
    }
    40% {
      transform: translateY(-10px); /* Move up */
    }
    60% {
      transform: translateY(-5px); /* Move slightly up */
    }
  }
  
  #scrollBtn .fas {
    animation: bounce 2s infinite; /* Apply bounce animation */
  }
/* #absorve(absorveAbout) #css ends  */

/* #wow(wowWork) #css starts  */
.wowWork {
    margin-top: 50px;
}
.wowWork strong {
    position: relative;
    font-size: 50px;
    color: var(--black);
  }
  .wowWork  strong::after {
    content: "";
    position: absolute;
    bottom: -0.125rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 0.75rem;
    z-index: -1; 
    background-image: url("../img/icons/cross-out-underline.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

.wowWork .caseStudyone {
    background-image: url(../img/portfolio/baiqa_system.png);
    background-size: contain;
    background-position: center center;
    min-height: 300px;
    background-repeat: no-repeat;
}

.wowWork .caseStudytwo {
    background-image: url(../img/portfolio/demo.png);
    background-size: cover;
    background-position: left;
    min-height: 300px;
}
.wowWork .caseStudythree {
    background-image: url('../img/portfolio/helpytwo.jpg') , url(../img/portfolio/helpy.jpg);   
    background-size: 45%; 
    background-position: left top, top right;
    min-height: 400px;
    background-repeat: no-repeat;
}
.wowWork .caseStudyfour { 
    background-image: url('../img/portfolio/sudysprinttwo.png') , url(../img/portfolio/studysprint.png);
    background-size: 45%; 
    background-position: left top, top right;
    min-height: 400px;
    background-repeat: no-repeat;
}

.wowWork .badge {
    background-color: #dfb9b9;
    color: var(--light-black);
    font-size: 15px
}
.wowWork .tech{
  border-radius: 5px;
  padding: 5px;
  background-color: var(--secondary);
}
.wowWork .lead {
    font-size: 30px
}

.wowWork .btn {
    background-color: var(--light-black);
    font-weight: bold;
    color: var(--secondary);
    box-shadow: none;
}

/* #wow(wowWork) #css ends  */

/* button css starts  */
#see .see-more {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--light-black);
  color: var(--light-black);
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 20px 50px 15px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#see .see-more span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

#see .see-more span:last-child {
  color: var(--secondary);
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 65%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

#see .see-more:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-black);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

#see .see-more:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

#see .see-more:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
/* button css ends  */


/* #samon(samonService) #css starts */
.samonService .feature-box-1 {
  padding: 32px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  margin: 15px 0;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0
}

.samonService .feature-box-1 * {
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s
}

.samonService .feature-box-1 .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: var(--primary);
  color: var(--secondary);
  text-align: center;
  border-radius: 50%;
  margin-bottom: 22px;
  font-size: 27px
}

.samonService .feature-box-1 .icon i {
  line-height: 70px
}

.samonService .feature-box-1 h5 {
  color: var(--light-black);
  font-weight: 600
}

.samonService .feature-box-1 p {
  margin: 0
}

.samonService .feature-box-1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  border-radius: 10px;
  width: 0;
  background: var(--light-black);
  z-index: -1;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s
}

.samonService .feature-box-1:hover {
  top: -5px
}

.samonService .feature-box-1:hover h5 {
  color: var(--secondary)
}

.samonService .feature-box-1:hover p {
  color: rgba(255, 255, 255, 0.8)
}

.samonService .feature-box-1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  right: auto
}

.samonService .section {
  padding: 100px 0;
  position: relative
}

.samonService .section-title {
  padding-bottom: 45px
}

.samonService .section-title h2 {
  font-weight: 700;
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid var(--primary);
  padding-left: 15px
}

/* #samon(samonService) #css ends */


/* #county(countyCounters) #css starts  */
.countyCounters .counter-box {
  display: block;
  padding: 40px 20px 37px;
  text-align: center
}

.countyCounters .counter-box p {
  margin: 5px 0 0;
  padding: 0;
  color: #909090;
  font-size: 18px;
  font-weight: 500
}

.countyCounters .counter-box i {
  font-size: 60px;
  margin: 0 0 15px;
  color: #353535
}

.countyCounters .counter {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #666;
  line-height: 28px
}

.countyCounters .counter-box.colored {
  background: var(--secondary);
}

.countyCounters .counter-box.colored p,
.countyCounters .counter-box.colored i,
.countyCounters .counter-box.colored .counter {
  color: var(--light-black)
}

/* #county(countyCounters) #css ends  */


/* #cisabel(cisabelContact) #css starts  */
.cisabelContact h1{
  font-size: 50px;
}
.cisabelContact .fdb-block .fdb-box {
  padding: 1.75rem 2.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2)
}

.cisabelContact .fdb-block .fdb-touch {
  border-top: solid 0.3125rem var(--secondary);
  z-index: 2
}

.cisabelContact .btn {
  background-color: var(--primary);
  color: var(--black);
  border: none;
  font-weight: bold;
  box-shadow: none;
  font-size: var(--link-text);
  padding: var(--button-padding);
}
.cisabelContact .form-control{
  box-shadow: none;
}
/* #cisabel(cisabelContact) #css ends  */

/* #fund(fundFooter) #css starts */
.fundFooter h5{
  font-size: 20px;
}
/* #fund(fundFooter) #css ends */


/* Back to top */
#button {
  display: inline-block;
  background-color: var(--primary);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: var(--secondary);
}
#button:hover {
  cursor: pointer;
  background-color: var(--black);
}
#button:active {
  background-color: var(--light-black);
}
#button.show {
  opacity: 1;
  visibility: visible;
}
