@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
body{
  background-color: #F0F0F4;
}
:root{
  --primary: #112228;
  --secondary: #F4F4F4;
  --black: #202020;
  --light-black: #353535;
  --button-padding: 10px 30px 10px 30px;
  --link-text: 18px;
}

/* #hasis(hasisHeader) #css starts  */
.hasisHeader .bg-white{
  background-color: #F0F0F4 !important;
}
.hasisHeader .logo {
    max-height: 80px
}
.hasisHeader .navbar-open-icon {
    display: inline
}
.hasisHeader .navbar-close-icon {
    display: none
}
.hasisHeader .navbar-toggler[aria-expanded="true"] .navbar-open-icon {
    display: none
}
.hasisHeader .navbar-toggler[aria-expanded="true"] .navbar-close-icon {
    display: inline
}
.hasisHeader .navbar-light .navbar-toggler {
    color: var(--black);
    border-color: var(--black);
    font-size: 25px;
}
.hasisHeader .btn {
    background-color: var(--primary);
    color: #F4F4F4;
    border: none;
    font-weight: bold;
    box-shadow: none;
    font-size: var(--link-text);
    padding: var(--button-padding);
}
.hasisHeader .btn:hover {
    color: #F4F4F4;
    text-decoration: none;
}
.hasisHeader .navbar-light .navbar-nav .nav-link {
    color: var(--light-black);
    font-weight: 600;
    font-size: var(--link-text);
}
.hasisHeader .navbar-light .navbar-nav .nav-link:hover{
  color: var(--primary);
}

/* For the dropdown styling */
.hasisHeader .dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--secondary);
  min-width: 200px;
  box-shadow: none;
  z-index: 1000;
}

/* Desktop view: Show dropdown on hover */
@media (min-width: 768px) {
  .hasisHeader .nav-item.dropdown:hover .dropdown-menu {
      display: block;
  }
}

/* Small screens: Dropdown should show only on click */
@media (max-width: 767.98px) {
  .hasisHeader .dropdown-menu {
      position: relative; 
      display: none;      
  }
  .hasisHeader .dropdown-menu.show {
      display: block;    
  }
}

.hasisHeader .dropdown-item {
  color: var(--light-black);
  padding: 10px 20px;
  font-size: var(--link-text);
  text-decoration: none;
}

.hasisHeader .dropdown-item:hover {
  background-color: var(--primary);
  color: #ffffff;
}



/* #hasis(hasisHeader) #css ends  */

/* #handel(handelHero) #css starts  */
.handelHero .masthead {
  padding: 3rem 0 7rem;
  position: relative;
  background-color: #06beb6;
  background-image: linear-gradient(45deg, #06beb6 0%, #48b1bf 100%);
  background-size: cover;
  z-index: 0;
}

.handelHero .masthead svg.wave {
  position: absolute;
  bottom: -1px;
  left: 0;
}

.handelHero .masthead h1 {
  color: #353535;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.1;
  z-index: 1;
}

.handelHero .masthead h2 {
  color: #353535;
  font-weight: 100 !important;
  z-index: 1;
  font-size: 1.2rem;
}

.handelHero .masthead a {
  color: rgba(255, 255, 255, .8);
  text-decoration: underline;
  z-index: 1;
}

.handelHero .masthead a:hover {
  color: #fff;
}

.handelHero .masthead a:active {
  text-decoration: none;
}

.handelHero .masthead .masthead-cards {
  position: relative;
  z-index: 1;
}

.handelHero .masthead .masthead-cards .shape {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, .3);
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.handelHero .masthead .masthead-cards .card {
  opacity: 1;
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .05rem;
  color: #212529;
  transition: .15s all;
}

.handelHero .masthead .masthead-cards .card:hover {
  margin-top: -.25rem;
  margin-bottom: .25rem;
}

.handelHero .masthead .masthead-cards .card:active {
  margin-top: inherit;
  margin-bottom: inherit;
}

.handelHero .masthead .masthead-cards .card.border-bottom-blue:hover {
  color: #2092ed;
}

.handelHero .masthead .masthead-cards .card.border-bottom-green:hover {
  color: #28a745;
}

.handelHero .masthead .masthead-cards .card.border-bottom-red:hover {
  color: #dd3d31;
}

.handelHero .masthead .masthead-cards .card.border-bottom-yellow:hover {
  color: #ffc107;
}

.handelHero .masthead-page {
  padding: 1rem 0 4rem;
}

.handelHero .border-bottom-yellow {
  border-color: #ffc107!important;
}

.handelHero .border-bottom-red {
  border-color: #dd3d31!important;
}

.handelHero .border-bottom-blue {
  border-color: #2092ed!important;
}

.handelHero .border-bottom-green {
  border-color: #28a745!important;
}

.handelHero .border-bottom-blue, 
.handelHero .border-bottom-green, 
.handelHero .border-bottom-red, 
.handelHero .border-bottom-yellow {
  border-bottom: .4rem solid!important;
}

.handelHero .shadow-lg {
  box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,.15),0 0 1.5rem .5rem rgba(33,37,41,.05)!important;
}

.handelHero .border-0 {
  border: 0!important;
}
.handelHero .btn {
  border-radius: 30px;
  background-color: #353535;
  margin-top: 40px !important;
  text-decoration: none !important;
}
@media(min-width:992px) {
  .handelHero .masthead-page h1 {
      font-size: 2.5rem;
  }
}

@media(min-width:992px) {
  .handelHero .masthead h1 {
      font-size: 3rem;
  }
  .handelHero .masthead h2 {
      font-size: 1.5rem;
  }
}
/* #handel(handelHero) #css ends  */

/* #wow(wowWork) #css starts  */
.wowWork {
    margin-top: 50px;
}
.wowWork strong {
    position: relative;
    font-size: 50px;
    color: var(--black);
  }
  .wowWork  strong::after {
    content: "";
    position: absolute;
    bottom: -0.125rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 0.75rem;
    z-index: -1; 
    background-image: url("../img/icons/cross-out-underline.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

.wowWork .caseStudyone {
    background-image: url(../img/portfolio/baiqa_system.png);
    background-size: contain;
    background-position: center center;
    min-height: 300px;
    background-repeat: no-repeat;
}


.wowWork .caseStudysix {
  background-image: url(../img/portfolio/VastNext.png);
  background-size: contain;
  background-position: center center;
  min-height: 300px;
  background-repeat: no-repeat;
}
.wowWork .caseStudytwo {
    background-image: url(../img/portfolio/demolab.png);
    background-size: cover;
    background-position: left;
    min-height: 300px;
}
.wowWork .caseStudythree {
    background-image: url('../img/portfolio/helpytwo.jpg') , url(../img/portfolio/helpy.jpg);   
    background-size: 45%; 
    background-position: left top, top right;
    min-height: 400px;
    background-repeat: no-repeat;
}
.wowWork .caseStudyfour { 
    background-image: url('../img/portfolio/sudysprinttwo.png') , url(../img/portfolio/studysprint.png);
    background-size: 45%; 
    background-position: left top, top right;
    min-height: 400px;
    background-repeat: no-repeat;
}

.wowWork .caseStudyseven {
  background-image: url('../img/portfolio/basi1.jpg') , url(../img/portfolio/basi2.jpg);   
  background-size: 45%; 
  background-position: left top, top right;
  min-height: 400px;
  background-repeat: no-repeat;
}

.wowWork .badge {
    background-color: #dfb9b9;
    color: var(--light-black);
    font-size: 15px
}
.wowWork .tech{
  border-radius: 5px;
  padding: 5px;
  background-color: var(--secondary);
}
.wowWork .lead {
    font-size: 30px
}

.wowWork .btn {
    background-color: var(--light-black);
    font-weight: bold;
    color: var(--secondary);
    box-shadow: none;
}

/* #wow(wowWork) #css ends  */

/* button css starts  */
#see .see-more {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--light-black);
  color: var(--light-black);
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 20px 50px 15px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#see .see-more span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

#see .see-more span:last-child {
  color: var(--secondary);
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 65%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

#see .see-more:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-black);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

#see .see-more:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

#see .see-more:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
/* button css ends  */


/* #samon(samonService) #css starts */
.samonService .feature-box-1 {
  padding: 32px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  margin: 15px 0;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0
}

.samonService .feature-box-1 * {
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s
}

.samonService .feature-box-1 .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: var(--primary);
  color: var(--secondary);
  text-align: center;
  border-radius: 50%;
  margin-bottom: 22px;
  font-size: 27px
}

.samonService .feature-box-1 .icon i {
  line-height: 70px
}

.samonService .feature-box-1 h5 {
  color: var(--light-black);
  font-weight: 600
}

.samonService .feature-box-1 p {
  margin: 0
}

.samonService .feature-box-1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  border-radius: 10px;
  width: 0;
  background: var(--light-black);
  z-index: -1;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s
}

.samonService .feature-box-1:hover {
  top: -5px
}

.samonService .feature-box-1:hover h5 {
  color: var(--secondary)
}

.samonService .feature-box-1:hover p {
  color: rgba(255, 255, 255, 0.8)
}

.samonService .feature-box-1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  right: auto
}

.samonService .section {
  padding: 100px 0;
  position: relative
}

.samonService .section-title {
  padding-bottom: 45px
}

.samonService .section-title h2 {
  font-weight: 700;
  font-size: 40px;
  margin: 0 0 15px;
  border-left: 5px solid var(--primary);
  padding-left: 15px
}

/* #samon(samonService) #css ends */

/* #tefnu(tefnuTestimonial) #css starts  */
.tefnuTestimonial {
  margin-bottom: 100px;
}
.tefnuTestimonial .clients {
  color: var(--primary)
}

.tefnuTestimonial .image {
  height: 55px;
  width: 55px;
}

.tefnuTestimonial .bg-circle {
  width: 60px;
  height: 60px;
  background-color: var(--primary)
}

.tefnuTestimonial .second-div {
  background-color: var(--primary)
}
.tefnuTestimonial .display-4{
  font-size: 40px;
}
.tefnuTestimonial .bg-light{
  background-color: var(--secondary) !important;
}
.tefnuTestimonial .text-secondary{
  color: var(--light-black) !important;
}
/* #tefnu(tefnuTestimonial) #css ends  */

/* #county(countyCounters) #css starts  */
.countyCounters .counter-box {
  display: block;
  padding: 40px 20px 37px;
  text-align: center
}

.countyCounters .counter-box p {
  margin: 5px 0 0;
  padding: 0;
  color: #909090;
  font-size: 18px;
  font-weight: 500
}

.countyCounters .counter-box i {
  font-size: 60px;
  margin: 0 0 15px;
  color: #353535
}

.countyCounters .counter {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #666;
  line-height: 28px
}

.countyCounters .counter-box.colored {
  background: var(--secondary);
}

.countyCounters .counter-box.colored p,
.countyCounters .counter-box.colored i,
.countyCounters .counter-box.colored .counter {
  color: var(--light-black)
}

/* #county(countyCounters) #css ends  */


/* #cisabel(cisabelContact) #css starts  */
.cisabelContact h1{
  font-size: 50px;
}
.cisabelContact .fdb-block .fdb-box {
  padding: 1.75rem 2.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2)
}

.cisabelContact .fdb-block .fdb-touch {
  border-top: solid 0.3125rem var(--secondary);
  z-index: 2
}

.cisabelContact .btn {
  background-color: var(--primary);
  color: #F4F4F4;
  border: none;
  font-weight: bold;
  box-shadow: none;
  font-size: var(--link-text);
  padding: var(--button-padding);
}
.cisabelContact .form-control{
  box-shadow: none;
}
/* #cisabel(cisabelContact) #css ends  */

/* #faltu(faltuFooter) #css starts */
.faltuFooter a {
  color: var(--secondary);
  text-decoration: none;
}

.faltuFooter .footer {
    background-color: #DDD6D6;
}
.faltuFooter .footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.faltuFooter .footer-wave-path {
    fill: #F0F0F4;
}

.faltuFooter .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.faltuFooter .footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: var(--primary);
}

.faltuFooter .footer-content-column ul li a {
  color: var(--primary);
  text-decoration: none;
}

.faltuFooter .footer-logo-link {
    display: inline-block;
}
.faltuFooter .footer-menu {
    margin-top: 30px;
}

.faltuFooter .footer-menu-name {
    color: var(--primary);
    font-size: 18px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.faltuFooter .footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.faltuFooter .footer-menu-list li {
    margin-top: 5px;
}

.faltuFooter .footer-call-to-action-description {
    color: var(--primary);
    margin-top: 10px;
    margin-bottom: 20px;
}
.faltuFooter .footer-call-to-action-button:hover {
    background-color: var(--primary);
    color: var(--secondary);
    text-decoration: none;
}
.faltuFooter .button:last-of-type {
    margin-right: 0;
}
.faltuFooter .footer-call-to-action-button {
    background-color: var(--secondary);
    border-radius: 21px;
    color: var(--primary);
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.faltuFooter .footer-call-to-action {
    margin-top: 30px;
}
.faltuFooter .footer-call-to-action-title {
    color: var(--primary);
    font-size: 18px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.faltuFooter .footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: var(--secondary);
    text-decoration: none;
}
.faltuFooter .footer-call-to-action-link-wrapper a {
    color: var(--secondary);
    text-decoration: none;
}


.faltuFooter .footer-copyright {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 15px 30px;
  text-align: center;
}

.faltuFooter .footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.faltuFooter .footer-copyright-text {
  color: var(--secondary);
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.faltuFooter .footer-copyright-link {
    color: var(--secondary);
    text-decoration: none;
    font-size: 18px;
}
.faltuFooter .logo{
  height: 120px;
  width: 120px;
  margin-left: -30px;
}
/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { 
  .faltuFooter .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  {
  .faltuFooter .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  {
  .faltuFooter .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width: 760px) {
  .faltuFooter .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 330px;
      position: relative;
  }

  .faltuFooter .footer-wave-svg {
      height: 50px;
  }

  .faltuFooter .footer-content-column {
      width: 24.99%;
  }
}
/* #faltu(faltuFooter) #css ends */


/* Back to top */
#button {
  display: inline-block;
  background-color: var(--primary);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: var(--secondary);
}
#button:hover {
  cursor: pointer;
  background-color: var(--black);
}
#button:active {
  background-color: var(--light-black);
}
#button.show {
  opacity: 1;
  visibility: visible;
}

.bg-mybg {
  background-color: var(--primary);
}
